@model IEnumerable<TechStore.Models.Produto>
@{
    ViewData["Title"] = "Produtos";
}


    <div class="carousel-container">
    <img src="~/images/carousel-img.png" class="carousel-image">
    </div>

    <div class="filter-container">
        <p class="filter-text">
            Linha Gamer
        </p>
        <div class="filter-button-container">
            <button class="filter-button">Linha básica</button>
            <button class="filter-button">Linha intermediária</button>
            <button class="filter-button-selected">Linha Gamer</button>
            <button class="filter-button">Linha Profissional</button>
        </div>
    </div>

<div class="products-area">
    @foreach(var item in Model)
    {
        <div class="product-preview">
            <div class="product-image-container">
                <img class="product-image" src="@Url.Action("PegarFoto", "Produto", new { id = @item.Id })">
            </div>
            <p class="product-title">@item.Titulo</p>
            <p class="product-description">@item.Descricao</p>
            <p class="product-price"><strong style="color: #0A58CA;">R$ @item.Valor</strong> à vista no PIX</p>
            <p class="product-price">ou até <strong>10x de R$ @(item.Valor / 10)</strong></p>
            <button class="buy-button">Comprar</button>
        </div>
    }
</div>

