@model TechStore.Models.ProdutosViewModel
    @{
    ViewData["Title"] = "Produtos";
}


    <div class="carousel-container">
    <img src="~/images/carousel-img.png" class="carousel-image">
    </div>

    <div class="filter-container">
        <p class="filter-text">
            Todos
        </p>
        <div class="filter-button-container">
        @foreach(var categoria in Model.Categorias)
        {
            <button class="filter-button">@categoria.Titulo</button>
        }
        </div>
    </div>

<div class="products-area">
    @foreach(var produto in Model.Produtos)
    {
        <div class="product-preview">
            <div class="product-image-container">
                <img class="product-image" src="@Url.Action("PegarFoto", "Produto", new { id = @produto.Id })">
            </div>
            <p class="product-title">@produto.Titulo</p>
            <p class="product-description">@produto.Descricao</p>
            <p class="product-price"><strong style="color: #0A58CA;">R$ @produto.Valor</strong> à vista no PIX</p>
            <p class="product-price">ou até <strong>10x de R$ @(produto.Valor / 10)</strong></p>
            <button class="buy-button">Comprar</button>
        </div>
    }
</div>

